*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header { /* o sinal > foi usado para determinar que a unica tag header impactada por esse estilo fosse o filho direto da tag body*/
    background-color: rgb(44, 45, 74);
    padding: 16px 0;
    color: aliceblue;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: aliceblue;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto ;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, 
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: rgba(0, 128, 0, 0.626)
}

#economy {
    background-color: rgb(234, 234, 162);
}

#economy .articles article a{
    background-color: goldenrod;
}

#entertainment{
    background-color: rgb(217, 197, 217);
}

#entertainment .articles article a{
    background-color: rgb(248, 68, 98);
}

#tech{
    background-color: rgb(175, 199, 202);
}

#tech .articles article a{
    background-color: rgb(68, 137, 248);
}

/*
para delimitar o seletor que nao for uma tag basta usar antes:
# antes de um id 
. antes de um class
*/